<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- CORS Headers -->
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="https://app-frontend-esgi-app.azurewebsites.net" />
                <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
                <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept, Authorization" />
                <add name="Access-Control-Allow-Credentials" value="true" />
                <add name="Access-Control-Max-Age" value="86400" />
            </customHeaders>
        </httpProtocol>
        
        <!-- Handle OPTIONS preflight request -->
        <handlers>
            <remove name="OPTIONSVerbHandler" />
            <add name="OPTIONSVerbHandler" path="*" verb="OPTIONS" modules="ProtocolSupportModule" resourceType="Unspecified" requireAccess="None" />
        </handlers>
        
        <rewrite>
            <rules>
                <rule name="Options Method" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^OPTIONS$" />
                    </conditions>
                    <action type="CustomResponse" statusCode="200" statusReason="OK" 
                            statusDescription="Options request allowed" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration> 