<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- CORS Headers -->
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
                <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept, Authorization" />
                <add name="Access-Control-Allow-Credentials" value="true" />
                <add name="Access-Control-Max-Age" value="86400" />
            </customHeaders>
        </httpProtocol>
        
        <!-- Redirection rules -->
        <rewrite>
            <rules>
                <!-- Intercepter toutes les requêtes OPTIONS -->
                <rule name="Options Method" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^OPTIONS$" />
                    </conditions>
                    <action type="CustomResponse" statusCode="204" statusReason="OK" 
                            statusDescription="Options request allowed" />
                </rule>
                
                <!-- Rediriger les requêtes POST vers le gestionnaire post-handler.php -->
                <rule name="POST Handler" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" />
                    </conditions>
                    <action type="Rewrite" url="post-handler.php" />
                </rule>
                
                <!-- Redirection pour l'API -->
                <rule name="API Rewrite" stopProcessing="false">
                    <match url="^api/(.*)$" />
                    <action type="Rewrite" url="index.php?api_url={R:1}" />
                </rule>
                
                <!-- Règle pour les requêtes sans extension -->
                <rule name="No Extension Rewrite" stopProcessing="false">
                    <match url="^([^.]+)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?url={R:1}" />
                </rule>
            </rules>
        </rewrite>
        
        <!-- Handlers explicites pour PHP et pour tous les verbes HTTP -->
        <handlers>
            <remove name="PHP_via_FastCGI" />
            <add name="PHP_via_FastCGI" path="*.php" verb="GET,POST,HEAD,OPTIONS,PUT,DELETE" 
                 modules="FastCgiModule" scriptProcessor="%HOME%\site\wwwroot\bin\php\php-cgi.exe" 
                 resourceType="Either" />
                 
            <!-- Gestion explicite des requêtes OPTIONS -->
            <remove name="OPTIONSVerbHandler" />
            <add name="OPTIONSVerbHandler" path="*" verb="OPTIONS" 
                 modules="ProtocolSupportModule" resourceType="Unspecified" requireAccess="None" />
        </handlers>
        
        <!-- Configurations supplémentaires -->
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        
        <!-- Diagnostics et erreurs personnalisés -->
        <httpErrors errorMode="Detailed" defaultResponseMode="ExecuteURL">
            <remove statusCode="404" />
            <error statusCode="404" path="/index.php" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration> 