<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Assurer que les fichiers PHP sont traités correctement -->
                <rule name="PHPHandler" stopProcessing="true">
                    <match url="^.*\.php$" />
                    <action type="None" />
                </rule>
                
                <!-- Règle pour test-api-connection.php -->
                <rule name="ApiTestEndpoint" stopProcessing="true">
                    <match url="^test-api$" />
                    <action type="Rewrite" url="test-api-connection.php" />
                </rule>
                
                <!-- Redirections spécifiques pour les pages principales -->
                <rule name="LoginRedirect" stopProcessing="true">
                    <match url="^login$" />
                    <action type="Rewrite" url="login.php" />
                </rule>
                
                <rule name="DashboardRedirect" stopProcessing="true">
                    <match url="^dashboard$" />
                    <action type="Rewrite" url="dashboard.php" />
                </rule>
                
                <!-- Pages de gestion -->
                <rule name="GestionRedirects" stopProcessing="true">
                    <match url="^gestion/([a-z_]+)(/.*)?$" />
                    <action type="Rewrite" url="gestion_{R:1}.php{R:2}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        
        <!-- Configuration du cache pour améliorer les performances -->
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
            <!-- Types MIME pour assurer le bon fonctionnement du site -->
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
        </staticContent>
    </system.webServer>
</configuration> 